<% include ../partials/header %>

<div class="container show d-flex mb-3">
    <div class="d-flex flex-column flex-nowrap align-items-center mb-5 mt-3">
        <div class="show-image">
            <img src="<%= campground.image %>" alt="<%= campground.name %>">
        </div>
        <div class="show-text container">
            <div class="d-flex flex-wrap justify-content-between  align-items-center">
                <h3 class="card-title">
                    <a href="" class="font text-blue-color"><%= campground.name %></a>
                </h3>
                <h5 class="text-right color-coral"><%= campground.price %> $/night</h5>
            </div>
            <p class="card-text"><%= campground.description %></p>
            <div class="text-muted d-flex justify-content-between">
                <em>Submitted by: <%= campground.author.username %></em>
                <div class="d-flex align-items-center">
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                    <a href="/campgrounds/<%= campground._id %>/edit"
                        class="btn color-green text-white btn-sm mr-1">Edit</a>
                    <form id='delete-form' action='/campgrounds/<%= campground._id %>?_method=DELETE' method='POST'>
                        <button type='submit' class='btn bg-danger text-white btn-sm'>Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="comments mt-3">
        <div class="d-flex justify-content-between mb-3">
            <h5 class="card-title">Comments</h5>
            <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn bg-warning text-white btn-sm">Add
                new comment</a>
        </div>
        <div class="card">
            <ul class="list-group">
                <% campground.comments.forEach(function(comment){ %>
                <li class="list-group-item color-blue">
                    <div class="d-flex flex-wrap justify-content-between">
                        <strong><span
                                class="text-white"><%= comment.author.username %></span></strong>
                        <p class="color-coral"><%= moment(comment.createdAt).fromNow() %></p>
                    </div>

                    <p><%= comment.text %></p>
                    <div class="d-flex align-items-center justify-content-end">
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"
                            class="btn color-green text-white btn-sm mr-1">Edit</a>
                        <form id='delete-form'
                            action='/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE'
                            method='POST'>
                            <button class='btn bg-danger text-white btn-sm'>Delete</button>
                        </form>
                        <% } %>
                    </div>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>

<% include ../partials/footer %>